* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    font-family: system-ui;
}
/** navigation bar style **/
nav.main-nav{
    padding-left: 2rem;
    border-bottom: 2px solid black;
    background-color: #bde0fe;
    height: 60px;
    display: flex;
    align-items: flex-end;
}
nav.main-nav h1 {
    font-size: 1.5rem;
    font-family: 'Courgette';
}
section.main-section{
    background-color: #bde0fe;
    height: 100vh;
    padding: 4rem;
    display: flex;
    justify-content: space-around;
}
/*** container design***/
article.form-container {
    position: relative;
    border: 3px solid black;
    display:flex;
    flex-direction: column;
    width: 90%;
    height: 70%;
    background-color: whitesmoke;
    text-align: center;
}
article.form-container div {
    margin-top: 3%;
}
article.form-container h1 {
    font-size: 3rem;
    text-align: center;
    font-family: 'Open Sans';
}
label.email{
    font-family: 'Open Sans';
}
input.borderE{
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    padding: .10px 30px;
    text-align: center;
}
label.password{
    font-family: 'Open Sans';
    position: relative;
}
input.borderP{ 
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    padding: .10px 30px;
    margin-top: 4px;
}
button.submit{
  font-size: .70em;
  padding: .10px 60px;
  border:solid black;
  background-color: black;
  color: whitesmoke;
  margin-top: 15px;
}