@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/*Nav *******************************/
#h3 {
    font-family: 'Pacifico', cursive;
    padding-left: 1rem;
}

.side-nav {
    width: 210px;
    height: 100%;
    position: fixed;
    background-color: #100901;
}
.text-white {
    color: whitesmoke;
    list-style-type: none;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: gray;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Created row column values */
tr {
    transition: background-color 300ms ease-in-out;
}

table {
    border-collapse: collapse;
}

tr:hover {
    background-color: lavenderblush;
    cursor: pointer
}

th,
td {
    text-align: left;
    padding: 0.3em 1em;
    border:2px solid black
}

/* Table 1 styling */
div.tab-1 {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0.7rem;
}

/* Input Modal */
div.tab-2 {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    background-color: whitesmoke;
    box-shadow: 0px 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    opacity: 0;
    transition: opacity 500ms ease;
}

div.tab-2.active {
    opacity: 1;
}

.tab-2 input {
    margin: 0.3rem;
    padding: 0.1rem;
}

/* Button Div Styling */
div.button-div {
    display: flex;
    padding: 0.3rem;
    justify-content: space-around;
}

button {
    padding: 0.4rem 1rem 0.4rem 1rem;
    border: 2px solid #333;
    background-color: whitesmoke;
}

button:hover {
    cursor: pointer;
}
button.display-modal {
    margin-bottom: 0.7rem;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
}
