* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    font-family: system-ui;
}
/** main section styling **/
section.main-section{
    background-color: #fad2e0;
    height: 100vh;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section.main-section article{
    border: 2px solid red;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
section.main-section article h1 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-family: 'Open Sans';
}
div {
    border: 2px solid blue;
}
